.container {
  color: white;
  background-color: rgb(34, 31, 31);
  height:78vh;
}


.container img{
  height: 100%;
  width: 100%;

}

.titulo {
  font-size: 20pt;
  text-align: center
}

.description{
  margin-left: 2em;
}

.teste{

  width: 100%;
  height: 100%;
}

.teste2{

  width: 100%;
  height: 100%;
}

