  <!--The content below is only a placeholder and can be replaced.-->
  <div class="fundo">
  <div class="container title">
    <div class="img">
      <img class="logo" src="../assets/img/logoMarvel.png" alt="" (click)="goToList()">
    </div>
    <div class="titulo">
      <h1>Séries Marvel</h1>
    </div>

  </div>


  <router-outlet></router-outlet>

  <!--Footer-->
  <footer class="page-footer font-small indigo pt-0">


      <!--Copyright-->
      <div style="color:white"class="container footer-copyright py-3 text-center">
          © 2018 Copyright:
          <a href="http://marvel.com/"> Marvel.com </a>
      </div>
      <!--/Copyright-->

  </footer>
  <!--/Footer-->
  </div>
